@import url(https://fonts.google.com/specimen/Inter);
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
}

main {
    background-color: hsl(230, 17%, 14%);
    height: 100vh;
}

.navbar {
    /* border: 2px solid palegreen; */
    background-color: hsl(232, 19%, 15%);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
}

.content {
    width: 75vw;
    height: 100vh;
    padding: 20px;
}

.subnav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* padding: 10px; */
}

.title {
    font-weight: 700;
}
.title > h1 {
    font-size: 26px;
    color: #ffffff;
}
.title > p  {
    color: hsl(228, 34%, 66%);
    font-size: 14px;
}
.toggle > p {
    color: #ffffff;
}

.allcards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.fcard, .tcard, .icard, .ycard {
    background-color: hsl(228, 28%, 20%);
    text-align: center;
    padding: 30px 50px;
    border-radius: 5px;
    margin-top: 30px;
    max-width: 400px;
}
.fcard:hover, .tcard:hover, .icard:hover, .ycard:hover {
    background-color: hsl(230, 28%, 30%);
}

/* Facebook card */
.fcard {
    border-top: 4px solid hsl(208, 92%, 53%);
}

/* Twitter card */
.tcard {
    border-top: 4px solid hsl(203, 89%, 53%);
}

/* Instagram card */
.icard {
    border-top: 2px solid;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
}


/* youtube card */
.ycard {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.card > code {
    letter-spacing: 0.1cm;
}

.card > p, code, h4 {
    font-weight: 400;
    font-size: 14px;
    /* margin: 10px; */
}

.card > p, code {
    color: hsl(228, 34%, 66%);
}

.card > h1 {
    margin-bottom: 0;
    font-size: 55px;
    color: #ffffff;
}

.card > h4 {
    color: hsl(163, 72%, 41%);
    margin-top: 20px;
}

.card > code {
    margin-top: 0;
}
.card > p {
    display: flex;
    align-items: center;
}
.card > p > img {
    margin-right: 5px;
}

.splicer {
    margin: 30px 0px;
}

.splicer > h1 {
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.statcards {
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.fviews {
    background-color: hsl(228, 28%, 20%);
    padding: 10px 36px;
    border-radius: 5px;
    display: flex;
}

.fviews:hover {
    background-color: hsl(228, 27%, 25%);
}

.nostats {
    margin-right: 50px;
}

.nostats > p  {
    font-size: 14px;
    font-weight: 400;
    color: hsl(228, 34%, 66%);
}

.nostats > h1 {
    color: #ffffff;
    margin-top: 30px;
}

.iconstats >p {
    margin-top: 30px;
    color: hsl(163, 72%, 41%);
}
